<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      background-color: #81b6b8;
    }
    h2,
    p {
      text-align: center;
    }
    .main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    td {
      background-color: rgb(139, 99, 185);
      padding: 20px;
      border: 2px solid black;
    }
    a {
      text-decoration: none;
      
    }
    #logout {
      margin-top: 6px;
      background-color: red;
      padding: 12px;
      border: 2px solid black;
      border-radius: 8px;
    }
  </style>
  <body>
    <h2>All Exrecise</h2>
    <p>Hi I'm Parmeshvar - 24DEV031 !!!</p>
    <p>Find out all task by clicking them!</p>
    <div class="main">
      <table>
        <tr>
          <td><a href="/dynamictable">1.Dynamic Table</a></td>
          <td><a href="/kukucube">2.Kuku Cube</a></td>
        </tr>
        <tr>
          <td><a href="/tictactoe">3.Tic Tac Toe</a></td>
          <td><a href="/eventtable">4.Event Table</a></td>
        </tr>
        <tr>
          <td><a href="/sorting">5.Sorting</a></td>
          <td><a href="/results">6. Exam Master </a></td>
        </tr>
        <tr>
          <td><a href="/delimeter">7.delimeter Search </a></td>
          <td><a href="/allattendance">14. Attendance Master </a></td>
        </tr>
        <tr>
          <td><a href="/grid">8. Dynamic Grid </a></td>
          <td><a href="/user">9. Fetch API </a></td>
        </tr>
        <tr>
          <td><a href="/citystate">10. City State Dropdown </a></td>
          <td><a href="/clock">12. Clock Convertor</a></td>
        </tr>
        <tr>
          <td><a href="/student">11. Simple Crud </a></td>
          <td><a href="/ajax">13. Ajax Crud with Multi-Step</a></td>
        </tr>
        <tr>
          <!-- <td><a href="ehya">15. Ehya</a></td> -->
        </tr>
      </table>
    </div>
    <div class="main">
      <a id="logout" href="/login">Logout</a>
    </div>
  </body>
</html>
