<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
   th{
    background-color: #47d3b5;
   }
     th,td{
        padding: 5px;
    }
   th , td {
      text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }
    .section{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
     
    }
    th{
      cursor: pointer;
    }
 
 .section #search{
  
  height: 40px;
  width: 70%;
 }
   
#result{
  margin-left: 8px;
  text-decoration: none;
  padding: 12px;
  cursor: pointer;
  background-color: #47d3b5;
  border: 1px solid black;
  border-radius: 8px;
}
  h1{
    text-align: center;
  }
 
  </style>
  <body>
    <h1>Student Master Search</h1>
    <form name="studentDetail" method="post" action="/delimeter"  >
     
      <table class="section">
        <h4 class="section">Search By using this Delimeters</h4>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
        </tr>
        <tr>
          <td>_</td>
          <td>^</td>
          <td>$</td>
          <td>{</td>
          <td>:</td>
        </tr>
      </table>
       <div class="section">
        <input id="search" value="<%= search %>" tabindex="1" type="text" name="search"  
         placeholder="search in Student Master">
        <input type="submit" id="result" value="get result" 
       >   
      </div>
    <table id="myTable2">
      <thead>
        <tr> 
          <% for(var i=0;i<fields.length; i++){ %>
          <th onclick="sortTable(`<%= i %>`)"><%=fields[i].name %></th>
          <% }; %>
        </tr>
      </thead>
      <% result.forEach(function (data){ %>
      <tr>
        <% fields.forEach(function(name){ %>
        <td><%=data[name.name] %></td>
        <% }); %> <% }); %>
      </tr>
    </table>
  
  </body>
  <script>
    function sortTable(n) {
      var table,
        rows,
        switching,
        i,
        x,
        y,
        shouldSwitch,
        dir,
        switchcount = 0;
      table = document.getElementById("myTable2");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < rows.length - 1; i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
</html>
